<html> 
<head> 
<title> </title> 
<meta charset = "utf-18"/> 
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Reggae+One&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>

<script  type="text/javascript">
let otp ; 
function sendOTP(){
     
	 var email = document.getElementById("email").value ; 
	 
	 if(email != ' ' &&  email.includes('@'))
	 {
		 otp = parseInt((Math.random() * 8999  + 1000)) ;
		 var req = '/send-otp/'+email+"&"+otp.toString() ;
		 fetch(req).then(alert("otp successful")).catch(error => alert("mail could not be delivered")) ;
	 }
	 else{
	 
	 document.getElementById("otperror").innerText = 'INVALID EMAIL' ;
	 
	 
	 }
        
     
	 
}



function  confirm()
{
	
	 
	var com  = document.getElementById("com").value ;
	var pass = document.getElementById("pass").value ;
	var name = document.getElementById("user").value ;
	var entered = parseInt(document.getElementById("otp").value) ;
	
	
	if(otp === entered)
	{
		if((pass == com) && !(name.includes(" "))){
		
			document.getElementById("reg").type="submit" ; 
			document.getElementById("form").action = "/create-account" ;
		
		}
	}
	else{
	document.getElementById("otperror").innerText = "INVALID OTP" ; 
	
	} 
	
	
	
	
}

function password_match(){

	var com  = document.getElementById("com").value ;
	var pass = document.getElementById("pass").value ;
	if(pass == com){
	document.getElementById("mismatch").innerText = " ";
	}
	else{
	document.getElementById("mismatch").innerText = "Password did not match" ;
	}
	

}



function validate_user(){

    
    var name = document.getElementById("user").value ;
	
	
	if(name.includes(" "))
	{
		document.getElementById("error").innerText = "Username cannot contain any spaces";
		
	}
	else
	{
		document.getElementById("error").innerText = " " ;
		
	}

}	

</script>



</head> 

<body style="font-family: 'Reggae One', cursive; background-image : url('/static/pic.jpeg');"> 

<header class="h2" style="padding-bottom : 100px"  > <center style="background-color : #FF0000;">  TODO'S FOR YOUR DODO'S  </center> </header> 
<nav class="navbar navbar-dark navbar-expand-lg"> 

<button class="navbar-toggler" data-toggle="collapse" data-target = "#mynavbar" aria-controls="mynavbar" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="mynavbar">
<ul class="navbar-nav" > 
<li class="nav-item"> <a class="nav-link" href="/" > HOME </a>  </li> 
<li class="nav-item active"> <a class="nav-link active" href="/register"> REGISTER </a>  </li> 
<li class="nav-item"> <a class="nav-link" href="/login"> LOGIN  </a> </li>  


</ul>

</div> 

</nav>

<div class="container-fluid-lg container-fluid-sm container-fluid-md" > 


<label class="sr-only"> HI </label>  

<div style="margin:auto ; width:500px; box-shadow : 5px 10px 18px; padding-left: 10px ;  padding-right: 10px ; padding-bottom : 10px; background-color : #E6E6E6;"> 
<form   action="/create-account"   method="post"  id="form"> 

<div>
{% for message in get_flashed_messages() %}
<label class = "text-danger text-uppercase"> {{message}} </label> 
{% endfor %} 
</div>
 
<div class="form-group"   > 
<label for="user"  > <b> USERNAME </b> </label> 
<input name="user" id="user"  class="form-control" placeholder="Enter Username" required  onblur="validate_user()"/>  
<label id="error" class="alert-warning"> </label> 
   
</div>
<br/>


<div class="form-group"> 
<label for="email"> <b> Email id. </b> </label> 
<input name="email" id="email"  class="form-control" placeholder="Enter email id" type="email"  required />  
<label class="text-muted"> A mail will be sent to the above mail id , so make sure the mail id exist </label> 
</div>

<br/>
 
<div class="form-group">
<label for="otp"> <b> VERIFY EMAIL </b> </label> 
<div class="input-group">
<input name="otp" id="otp" class="form-control"  required autocomplete="off" placeholder="Enter OTP" /> 
<div class="input-group-append">
<button class="btn btn-success" onclick = "sendOTP()" > GET OTP </button>
</div>
</div>
<label class = "text-danger text-uppercase" id="otperror">   </label> 
</div>

<br/> 


<div class="form-group" >
<label for="full"> <b> NAME </b> </label> 
<input name="full" id="full" class="form-control" placeholder="Enter full name"  required = "required"  /> 
</div>
<br/>




<div class="form-group"> 
<label for="pass"> <b> PASSWORD </b> </label> 
<input name="pass" id="pass" type="password" class="form-control" placeholder="Enter password"  required = "required" />  
</div> 

<br/>




<div class="form-group" >
<label for="com"  required = "required" > <b> CONFIRM PASSWORD </b> </label> 
<input name="com" id="com"  class="form-control"  type="password" placeholder="Confirm password" onblur="password_match()" />  
<label id="mismatch" class="alert-warning"  > </label> 
</div> 

<br/>






<button class="btn btn-success btn-block"   type="button" onclick="confirm()" id="reg" > REGISTER  </button> 

</form>  

</div> 

</div>


</body> 
</html>