<html> 
<head> 
<title> </title> 
<meta charset = "utf-18"/> 
<link href='/static/bootstrap.css' rel="stylesheet"/> 
</head> 

<body style="background-color : #5882FA"> 

<header class="h2" style="color : yellow ; background-color : purple ; "> <center> <h2> TODO - EFFECTIVE TOOL TO ORGANISE YOUR TASK  </h2>  </center> </header> 

<nav class="navbar navbar-dark navbar-expand-lg"> 

<ul class="navbar-nav" > 
<li class="nav-item"> <a class="nav-link" href="/" > HOME </a>  </li> 
<li class="nav-item"> <a class="nav-link" href="/register"> REGISTER </a>  </li> 
<li class="nav-item"> <a class="nav-link" href="/login"> LOGIN  </a> </li>  


</ul> 

</nav>


